.headerRow {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.headerCell {
    text-transform: capitalize;
    display: flex;
    flex: 1;
    font-size: 14px;
    padding: 8px 0;
    justify-content: center;
    align-items: center;
}