.dropDownContainer {
    display: flex;
    align-items: center;

}

.choiceBtn {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 18px;
}

.choiceLabel {
    margin-right: 4px;
    font-size: 12px;
    line-height: 18px;
}