.link {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    color: #2264E5;
}

.cell {
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex: 1;
    padding: 8px 0;
    align-items: center;
}

.cell:first-child,
.cell:nth-child(2) {
    font-weight: 500;
    color: #171C26;
}
